<main class="main">


  <!-- Api component -->
  <app-api>
  </app-api>




  <!-- Other -->
  <div class="hidden">
    <div class="text-red-500 text-center text-4xl font-extrabold">
      Tailwind is added bro
    </div>

    <app-user></app-user>

    <app-admin></app-admin>

    <div class="hidden border-black rounded-md">
      <p>We will learn how to dyanmically hide or show div</p>

      <app-ng-if></app-ng-if>

      <app-ng-for></app-ng-for>
    </div>

    <app-ng-class></app-ng-class>
    <app-ng-style></app-ng-style>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
