<main class="main">
  <nav class="border-b-2">
    <div class="container mx-auto px-12">
      <ul class="links py-4 w-full flex items-center justify-end gap-4">

        <li>
          <a class="font-bold" routerLink="/">Home</a>
        </li>
        <li>
          <a class="font-bold" routerLink="/admin">Admin</a>
        </li>

        <li>
          <a class="font-bold" routerLink="/user">User</a>
        </li>

        <li>
          <a class="font-bold" routerLink="/api">API</a>
        </li>
      </ul>
    </div>
  </nav>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
